@use "../variables" as *;

#home {
  background-color: $offwhite;
  height: fit-content;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow-y: auto;
  * {
    position: relative;
    z-index: 1;
  }
  .home-container {
    // background-color: yellow;
    min-height: 90vh;
    height: 100%;
    display: flex;
    // padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    &::before,
    &::after {
      content: "";
      flex: 1;
    }
    .home-image-container {
      .home-image {
        width: 100%;
        height: auto;
        padding: 0 4rem;
        max-width: 50rem;
      }
    }
    .home-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // background-color: red;
      margin: 0 2rem;
      gap: 1.5rem;
      .home-buttons-container {
        display: flex;
        gap: 2rem;
      }
      .text-content {
        text-align: center;
        margin: 0 4rem;
      }
    }
    .bg-images-container {
      width: 120%;
      display: flex;
      justify-content: space-between;
      position: fixed;
      z-index: 0;
      bottom: -1rem;
      opacity: 0.05;
      > * {
        height: auto;
        width: clamp(20rem, 15vw, 50rem);
      }
    }
  }
  .home-arrow-down {
    color: $offblack;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
