@use "../variables" as *;

#my-projects {
  position: relative;
  z-index: 1;
  .project-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .project-img {
      width: 100%;
      height: auto;
    }
    .project-details {
      display: flex;
      flex-direction: column;
    }
    .project-buttons-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
}
