@use "./variables" as *;
@use "./queries" as *;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  // &:focus {
  //   outline: none;
  // }
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
  // overflow-x: hidden;
  // width: auto;
  // overflow-x: hidden !important;
  @include xxxl {
    font-size: 80%;
  }
}

body {
  background-color: $offwhite;
}

.text-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(3.2rem, 12vw, 5.6rem);
  font-weight: 600;
  text-align: center;
}

.text-subheader {
  font-family: "Jetbrains Mono", monospace;
  color: $text-gray;
  font-size: clamp(1.6rem, 7vw, 3.2rem);
  font-weight: 400;
}

.text-content {
  font-family: "Jetbrains Mono", monospace;
  color: $text-gray;
  font-size: clamp(1rem, 5vw, 1.6rem);
  font-weight: 200;
  text-align: justify;
  line-height: 2rem;
}

.filled-button {
  text-decoration: none;
  .button {
    background-color: $offblack;
    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(0.75);
    }
  }
  .linkedin-button {
    background-color: $linkedin-blue;
  }
}

.filled-button-inverted {
  @extend .filled-button;
  .button {
    background-color: $offwhite;
    color: $offblack;
    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(0.75);
    }
  }
}

.outlined-button {
  text-decoration: none;
  .button {
    background-color: $offwhite;
    outline: 1.5px solid $offblack;
    color: $offblack;
    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.outlined-button-inverted {
  @extend .outlined-button;
  .button {
    background-color: $offblack;
    color: $offwhite;
    outline: 1.5px solid $offwhite;
    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.button {
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  background-color: black;
  width: clamp(2rem, 30vw, 16rem);
  height: clamp(2rem, 9vw, 5rem);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 0.5rem;
  .button-icon {
    font-size: clamp(1rem, 4vw, 1.6rem);
  }
  .button-text {
    font-size: clamp(1rem, 4vw, 1.6rem);
  }
}

.content-container {
  margin: 0 4rem;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include sm {
    margin: 0 $sm-margin;
  }
  @include md {
    margin: 0 $md-margin;
  }
  @include lg {
    margin: 0 $lg-margin;
  }
  @include dt {
    margin: 0 $md-margin;
    padding-bottom: 15rem;
  }
  @include xxl {
    margin: 0 $dt-margin;
  }
}

.white-font {
  color: $offwhite;
}
