$small: 576px;
$medium: 768px;
$large: 992px;
$desktop: 1025px; // desktop breakpoint after ipad pro
$xl: 1200px;
$xxl: 1600px;
$xxxl: 2550px;
$landscape: 576px;

@mixin sm {
  @media (min-width: $small) {
    @content;
  }
}

@mixin md {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $large) {
    @content;
  }
}

@mixin dt {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin xxxl {
  @media (min-width: $xxxl) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) and (min-width: $landscape) {
    @content;
  }
}
